.container{
    max-width: 960px;
    margin: 0 auto;
}

.header{
    position: relative;
    height: 75px;
    width: 960px;
}

.wrapper{
    background-color: white;
}

.name{
    width: 300px;
    height: 55px; 
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    background-color: #4aaaa5;
}

h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: teal;
}

.links{
    position: relative;
    float: right;
    top: -50px;
}

a{
    color:#777777;
    padding: 10px;  
}

img{
    height: 250px; 
    width: 250px; 
}

.about{
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: teal;
    position: relative;
    top: -4px;
    width: 960px; 
    margin: 0 auto;
}


/* When I type this into the Chrome Dev Tools, it updates the page. However, it will 
not update with the code written on my file. */
.inner-container{
    position: relative;
    height: 500px;
    top: 30px;
    left: 30px; 
}

.footer {
    position: absolute;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 5px solid #4aaaa5;
    background: #777777;
    padding: 10px 0;
 }




