.h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: teal;
    position: absolute;
    float: left;
    top: -4px;
   
}

.links{
    position: relative;
    float: right;
    top: 100px; 
}

.container{
    max-width: 960px;
    margin: 0 auto;
  }

.p1 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.p2{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


