.contianer{
    width: 960px; 
}

.header{
    background-color: #ffffff;
    margin: 0 auto; 
    display: block;
}

.name{
    width: 300px;
    background-color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white; 
    text-align: center;  
    float: left; 
}

.links{
    height: 100%;
    float: right;
}

.about{
     padding: 5px;
     display: block;
}

img{
    float: left;
    display: block;
}


