.container{
    max-width: 960px;
    margin: 0 auto;
}

.header{
    position: relative;
    height: 75px;
    width: 960px;
}

.wrapper{
    background-color: white;
}

.name{
    width: 300px;
    height: 55px; 
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    color: white;
    background-color: #4aaaa5; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);  
    left: 10px; 
    
}

.links{
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);  
}

a{
    color:#777777;
    padding: 10px;  
}

.about{
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: teal;
    position: relative;
    top: -4px;
    width: 960px; 
    margin: 0 auto;
}

.inner-container{
    position: relative;
    height: 500px;  
}

.picture{
    float: left;
    padding-right: 20px;
    padding-left: 10px; 
    padding-bottom: 10px;
    padding-top: 20px; 
}

h2{ 
    position: relative;
    top: 20px; 
    left: 15px; 
}

img{
    width:250px;
    height:250px;
}

.content{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    line-height: 30px; 
    float: none; 
    padding: 10px; 
}

.footer {
    position: absolute;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 5px solid #4aaaa5;
    background: #777777;
    padding: 10px 0;
 }
